* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #233142;
  --secondary-color: #455d7a;
  --font-color: #f95959;
  --background: #e3e3e3;
}

body {
  font-family: "Helvetica";
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}
p {
  color: var(--secondary-color);
}
